[user]
    name = Dipak Pawar
    email = dipakpawar231@gmail.com
[alias]
	history = log --oneline --graph --decorate --all
	last = diff-tree --no-commit-id --name-only -r HEAD
	pr  = "!f() { git fetch -fu $(git remote |grep ^upstream || echo origin) refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
    pr-clean = "!git for-each-ref refs/heads/pr/* --format='%(refname)' | while read ref ; do branch=${ref#refs/heads/} ; git branch -D $branch ; done"
	lg = log --color --graph --pretty=format:'%Cred%h%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[pull]
	rebase = true
